﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BelepesiAdatok.ascx.cs" Inherits="Component_BelepesiAdatok" %>
<asp:HiddenField ID="hf_FelhasznaloId" runat="server" />
<asp:HiddenField ID="hf_HelyettesitesId" runat="server" /> 
<asp:HiddenField ID="hf_CsoporttagId" runat="server" />
<asp:HiddenField ID="hf_SzervezetId" runat="server" />
<asp:HiddenField ID="hf_LoginType" runat="server" />