<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MenuControl.ascx.cs" Inherits="Component_MenuControl" %>

<eUI:eErrorPanel id="EErrorPanel1" runat="server" Visible="false" Width="90%" EnableViewState="false">
        </eUI:eErrorPanel>
        
<table id="MainMenuTable" runat="server" cellspacing="1" cellpadding="0"
             border="0" width="0">
             <tr id="header_row">
             </tr>
             <tr id="mainMenus_row" align="center" style="height:120px;">
             </tr>
             <tr id="subMenus_row">             
             </tr>
            
    </table>