
input#files {
    position: fixed;
    top: -100px;
}

.topBar {
    height: 0px !important;
}

.modal-content{
	z-index: 1;
	background: #fcfcfc;
	/*max-width: 450px;*/
	margin: 0 auto;
	padding: 30px 35px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 0px;
	}
	
.modal-dialog {
    width: 600px !important;
	padding: 8% 0 0;
	position: relative;
}
	
.progressbar {
    margin: 20px;
    height: 25px !important;
}

.input-sm {
    background-color: darkslategray !important;
    color: #ccc !important;
}

.textBox {
    background-color: darkslategray !important;
    color: #ccc !important;
    resize: none;
    width: 100%;
    height: 80px;
}

label {
    font-weight: normal !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.appMode {
    float: right;
    font-size: 22.5px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-shadow: none;
    opacity: 0.2;
    filter: alpha(opacity=20);

}

.appMode:hover, .appModeActive {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

button.appMode {
    padding: 0;
    border: 0;
    cursor: pointer;
    background: transparent;

    -webkit-appearance: none;
}

.textInputBox {
    padding-bottom: 10px !important;
}

#textInput {
    padding: 2px;
    width: 100%;
    height: 140px;
    border-radius: 10px;
    background-color: darkslategray;
    color: #ccc;
    resize: none;
}	

html {
	font-family: sans-serif;
	}

body {
		font-family: sans-serif;
    background: #fff;
    background: -webkit-linear-gradient(to top, #fff, #f7fafa);
    background: -moz-linear-gradient(to top, #fff, #f7fafa);
    background: -o-linear-gradient(to top, #fff, #f7fafa);
    background: linear-gradient(to top, #fff, #f7fafa);
    background-image: url(nlbackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
		overflow-y: hidden;
}

.modal-body {
	max-height: 520px;
    width: 100%;
}

.modal-content{
	border-radius: 0px;
	}
	
.modal-header {
    padding: 15px;
    border-bottom: none;
    min-height: 16.43px;
    border-radius: 4px 4px 0 0;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;

}
	h1.modal-title {
		text-align: left;
		float: left;		
    font-weight: bold;
    font-family: century gothic;
    color: #333;
    font-size: 16px !important;
    margin: 15px 0 5px 0;
	}

.eidas {
    width: 38px;
    float: right;
    margin-bottom: -15px;
}

.logo {
    width: 295px;
    float: left;
    margin-bottom: -15px;
}

.line_2 {
    width: 20%;
    height: 1px;
    margin: 15px 100% 15px 0;
    float: left;
    display: block;
    border-top: 1px solid #39a0bd;
    border-bottom: 1px solid #fefefe;
}

p.instrukcio {
    text-align: justify;
    padding: 0px 0 0px 0;
    font-size: 14px;
    line-height: 22px;
    color: #555;
    width: 100%;
    display: block;
    margin: 0;
    float: left;
}

.browse {
		background-color: white;
    border: 2px dashed #ccc;
    color: #ccc;
    margin-bottom: 0px;
    float: left;
    width: 100%;
}

.browse:hover {
	background-color: white;
    border: 2px dashed #39a0bd;
    color: #000;
		cursor: pointer;
}

.browse h1 {
    color: #333;
    margin-top: 12px;
    font-size: 16px !important;
    font-weight: bold;
    font-family: century gothic, sans-serif;
}

#selectedfile {float:left; margin-top:10px;}
.md-progress {width: 100%;}

.ts_label {text-align: left; float: left;}
.small_label {font-size: 13px; text-align: left; width: 100%; cursor: default;}
.ts_selectable {margin: 15px auto;}
.ts_selectable label {width:100%; text-align: left; color:#333;}

.btn_nltoken {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 4px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
		height: 45px;
    margin-top: 10px;
    width: 100%;
		background-color: #39a0bd;
		border: 1px solid #39a0bd;
		opacity: 0.6;
		font-size: 16px;
		font-family: century gothic, "Roboto", sans-serif;
		text-transform: uppercase;
		color: white;
}

.btn_nltoken:hover {
		cursor: pointer;
		opacity: 1;
}

.bg-success {
    background-color: #39a0bd;
}

.progress .progress-bar {
    font-size: 13px;
		color: white;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding:6px;}
.table {margin-bottom: 0px;}

#list {font-size: 13px; background-color: #f6f6f6; padding: 8px;}

.switch {margin: 25px auto 0; font-size: 12px; color:#39a0bd;}