﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ElhiszTestPage.aspx.cs" Inherits="ElhiszTestPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
           <asp:TextBox ID="KuldemenyId" runat="server" Text="aeb38040-3e1e-e811-80c9-00155d020dd3"/>
        </div>
        <div>
            <asp:FileUpload ID="File" runat="server"/>
        </div>
    <div>
        <asp:Button ID="btnTest" runat="server" Text="Test" OnClick="btnTest_Click" />
    </div>
        <div>
            <asp:Label ID="output" runat="server" />
        </div>
        <div>
            <asp:GridView ID="grid" runat="server" />
        </div>
    </form>
</body>
</html>
