﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RefreshCache.aspx.cs" Inherits="RefreshCache" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:LinkButton ID="IntegratorParameterek" runat="server" Text="Integrátor paraméterek"  OnClick="IntegratorParameterek_Click"/>
    </div>
    </form>
</body>
</html>
