﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Test.aspx.cs" Inherits="Test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="btnOffices" runat="server" Text="Hivatalok" OnClick="btnOffices_Click" />
        <br />
        <asp:Label ID="output" runat="server" />
        <br />
        <asp:GridView ID="offices" runat="server" AutoGenerateColumns="true" />
    </div>
    </form>
</body>
</html>
