﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="TestPageEUzenetSzabalyTargy.aspx.cs" Inherits="TestPageEUzenetSzabalyTargy" %>

<%@ Register Src="~/Component/EUzenetSzabalyTargyComplexControl.ascx" TagPrefix="uc1" TagName="EUzenetSzabalyTargyComplexControl" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="True"
        EnableScriptLocalization="true">
    </asp:ScriptManager>
    <uc1:EUzenetSzabalyTargyComplexControl runat="server" ID="EUzenetSzabalyTargyComplexControl" />
</asp:Content>

