﻿/* Contentum.Net Style Pages */
.ReqStar
{
    color: Red;
    font-weight: bold;
}
.HideCheckBoxText label
{
    display: none;
}

.ListHeaderText
{
    font-weight: bold;
    font-size: 14px;
}

.FormSubTitle
{
    color: Black;
    font-weight: bolder;
}

.FormLabelInside
{
    font-weight: bold;
    padding-right: 6px;
    vertical-align: middle;
    text-align: right;
    color: #335674;
}

.FormHeaderText
{
    font-weight: bold;
    font-size: 14px;
}

.GridView
{
    margin: 0px;
    padding: 0px;
}

.GridViewRowStyle
{
    background-color: White;
}
.GridViewAlternateRowStyle
{
    background-color: AntiqueWhite;
}

.GridViewSelectedRowStyle
{
    background-color: #DDE7EF;
}

.GridViewHeaderStyle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    height: 20px;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
}

.GridViewHeaderBackGroundStyle
{
    background-image: url( '../../images/hu/egyeb/tlthbg2.jpg' );
    background-repeat: repeat-x;
    height: 20px;
}

.GridViewCheckBoxTemplateHeaderStyle
{
    width: 60px;
}

.GridViewCheckBoxTemplateItemStyle
{
    text-align: center;
}

.GridViewSelectStyle
{
    text-decoration: none;
    color: #335674;
}
.GridViewBoundFieldItemStyle
{
    padding-left: 5px;
}
.GridViewBorder, .GridViewCheckBoxTemplateItemStyle, .GridViewBoundFieldItemStyle, .GridViewLockedImage, .GridViewSelectRowImage
{
    border-right: #e6e6e6 1px solid;
    border-top: #e6e6e6 1px solid;
    border-left: #e6e6e6 1px solid;
    border-bottom: #e6e6e6 1px solid;
}
.GridViewLockedImage
{
    text-align: center;
    vertical-align: middle;
}
.GridViewBorderHeader, .GridViewCheckBoxTemplateHeaderStyle
{
    border-right: #e6e6e6 1px solid;
    border-left: #e6e6e6 1px solid;
    border-bottom: #e6e6e6 1px solid;
}

.popupBody
{
    width: 90%;
}

.updateProgress
{
    /*position: fixed; 	top: 250px; 	left: 400px; 	width: 250px; 	height: 100px;*/
    position: fixed;
    top: 40%;
    left: 40%;
    width: 250px;
    height: 100px;
}

.updateProgressText
{
    font-weight: bold;
    padding-left: 10px;
    vertical-align: middle;
    text-align: center;
    color: #335674;
}

.modalBackground
{
    background-color: White;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.formLoaderCaption
{
    font-weight: bold;
    padding-right: 6px;
    vertical-align: middle;
    text-align: right;
    color: #335674;
    width: 100px;
}

.formLoaderInput
{
    width: 180px;
}

.formLoaderComboBox
{
    width: 186px;
}

.templateLinkButtons
{
    padding-left: 10px;
    color: #335674;
}
.templateLinkButtons:hover
{
    padding-left: 10px;
    color: #335674;
    text-decoration: underline;
}


/* teljes oldalra kiterjedo stilusok */
.test
{
    background-color: Transparent;
}
hr
{
    height: 1px;
}

.contentumLablec
{
    width: 973px;
    background-color: white;
}

body, table, tr, td, div, span, a, a:active, a:visited, img, body.menu
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    border: 0px;
}

a
{
    color: #335674;
}

body, body.menu
{
    background-color: rgb(243, 243, 243);
    margin: 0px 0px 0px 0px;
    font-family: arial, verdana, helvetica;
    font-size: 12px;
    color: #335674;
}

body.menu
{
    text-align: left;
}

table.main
{
    background-color: white;
    text-align: center;
}

table.menu
{
    background-color: white;
    text-align: center;
}
/* contentum fejlec stilusok */

table.contentumFejlec_eRecord, .contentumFejlec_eGovPortal, .contentumFejlec_eFlow
{
    background-repeat: no-repeat;
}

table.lablec
{
    background-color: white;
    text-align: center;
}

.lablecImg
{
}

.contentumFejlec_eRecord
{
    background-image: url( '../../images/hu/fejlec/erecord.jpg' );
}

.contentumFejlec_eGovPortal
{
    background-image: url( '../../images/hu/fejlec/egovportal.jpg' );
}

.contentumFejlec_eFlow
{
    background-image: url( '../../images/hu/fejlec/eflow.jpg' );
}

tr.eRecord_felsoSor, tr.eGovPortal_felsoSor, tr.eFlow_felsoSor
{
    height: 47px;
    vertical-align: middle;
}

td.eAdmin_belepesiAdatok, td.eGovPortal_belepesiAdatok, td.eFlow_belepesiAdatok
{
    text-align: right;
    vertical-align: middle;
    line-height: 18px;
    color: white;
}

td.eRecord_kirSpacer, td.eGovPortal_kirSpacer, td.eFlow_kirSpacer
{
    width: 155px;
}

td.eRecord_gombok, td.eGovPortal_gombok, td.eFlow_gombok
{
    width: 395px;
    text-align: right;
}

td.eRecord_contentumUtvonal, td.eGovPortal_contentumUtvonal, td.eFlow_contentumUtvonal
{
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 8px;
}

td.eRecord_menuFulek, td.eGovPortal_menuFulek, td.eFlow_menuFulek
{
    vertical-align: bottom;
    text-align: right;
}

a.contentumUtvonal, a.contentumUtvonal:active, a.contentumUtvonal:visited
{
    font-size: 10px;
    color: #395f80;
    text-decoration: none;
    padding-top: 13px;
}

.contentumUtvonalElvalaszto
{
    color: #f8b440;
    padding-left: 1px;
    padding-right: 1px;
}

.contentumUtvonalTag
{
    padding-top: 4px;
}


/* MRK fejlec stilusok */

.mrkFejlec
{
    width: 100%;
    height: 70px;
    background-image: url( '../../images/hu/fejlec/kepernyo_lista_fill.jpg' );
    background-repeat: repeat-x;
}

.mrkFejlecForm
{
    width: 100%;
    height: 70px;
    background-image: url( '../../images/hu/fejlec/kepernyo_fill.jpg' );
    background-repeat: repeat-x;
}

tr.mrkFejlecRelevans
{
    height: 46px;
}

td.mrkKepernyoNev, td.tlKepernyoNev
{
    text-align: left;
    color: #395f80;
    font-size: 14px;
    font-weight: bold;
    height: 46px;
}

td.mrkKepernyoNev
{
    padding-left: 88px;
}

.mrkGombok
{
    background-image: url( '../../images/hu/fejlec/kepernyo_fill.jpg' );
    text-align: right;
    vertical-align: middle;
}

/*
	talalati lista fejlec stilusok
*/

.tlFejlec
{
    width: 950px;
    height: 80px;
    background-image: url( '../../images/hu/fejlec/teszt.bmp' );
    background-color: red;
    text-align: left;
}

.tlFelsoSor, .tlFejlecRelevans
{
    height: 45px;
}

.tlGombSpacer
{
    width: 100px;
}


.tlFejlec1
{
    height: 46px;
    width: 950px;
    background-image: url( '../../images/hu/fejlec/kepernyo_lista1.jpg' );
}

.tlFejlec2
{
    height: 42px;
    background-image: url( '../../images/hu/fejlec/kepernyo_lista2.jpg' );
    width: 950px;
}

/* Hibauzenet es urlap panel stilusok */





.urlapAlul
{
    background-image: url( '../../images/hu/design/box_al.jpg' );
    background-repeat: repeat-x;
}

.urlapGradiens
{
    background-image: url( '../../images/hu/design/box_gradiens.jpg' );
    background-repeat: repeat-x;
    background-color: rgb(233, 233, 233);
    text-align: center;
}

.hibaHatter
{
    background-color: rgb(233, 233, 233);
}

.hibaHeader
{
    color: #990000;
    padding-right: 12px;
    font-family: arial, verdana, helvetica;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
.hibaBody
{
    color: #990000;
    padding-right: 10px;
    font-family: arial, verdana, helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}

.hibaFelul
{
    background-image: url( '../../images/hu/design/hiba_fel.jpg' );
    background-repeat: repeat-x;
}

.hibaAlul
{
    background-image: url( '../../images/hu/design/hiba_al.jpg' );
    background-repeat: repeat-x;
}
.mrHiba, .mrUrlap
{
    width: 100%;
}

.kHiba, .kUrlap
{
    width: 100%;
}

.urlapFelul
{
    border-top: 1px solid rgb(192, 192, 192);
}

.urlapBal
{
    border-left: 1px solid rgb(192, 192, 192);
    width: 2px;
}

.urlapJobb
{
    border-right: 1px solid rgb(192, 192, 192);
}

.mrUrlapCaption, .kUrlapCaption, .mrUrlapCaptionHibas, .kUrlapCaptionHibas
{
    font-weight: bold;
    padding-right: 6px;
    vertical-align: middle;
    text-align: right;
    color: #335674;
    width: 200px;
    min-width: 200px;
}

.mrUrlapCaption_shorter
{
    font-weight: bold;
    padding-right: 6px;
    vertical-align: middle;
    text-align: right;
    color: #335674;
    width: 140px;
    min-width: 140px;
}

.mrUrlapTalalatokSzamaCella
{
    font-weight: bold;
    padding-right: 6px;
    padding-left: 20px;
    vertical-align: middle;
    text-align: left;
    color: #335674;
}

.mrUrlapCaptionDisable
{
    font-weight: bold;
    padding-right: 6px;
    vertical-align: middle;
    text-align: right;
    color: Gray;
    width: 200px;
    min-width: 200px;
}

.mrUrlapCaption_Top
{
    font-weight: bold;
    padding-right: 6px;
    padding-top: 3px;
    vertical-align: top;
    text-align: right;
    color: #335674;
    width: 200px;
    min-width: 200px;
}

.mrUrlapInputImageButton
{
    border: 0px;
    padding-bottom: 0px;
    vertical-align: top;
}

.mrUrlapInputRadioButtonList
{
    width: 270px;
    border-width: 1px;
    border-style: outset;
}

.mrUrlapCaptionHibas, .kUrlapCaptionHibas
{
    color: #990000;
}

.mrUrlapCaption, .mrUrlapCaptionHibas
{
}
.mrUrlapSpacer
{
    width: 10px;
}

.mrUrlapMezo
{
    text-align: left;
}

.mrUrlapMezoVAlignTop
{
    text-align: left;
    vertical-align: top;
}

tr.urlapSor
{
    height: 30px;
}

tr.urlapNyitoSor
{
    height: 1px;
}

.mrUrlapInput, .mrUrlapInputWaterMarked, .mrUrlapInputHibas, .mrUrlapInputDis, .mrUrlapInputKotelezo
{
    width: 250px;
}


.mrUrlapInputComboBox
{
    width: 255px;
}

.mrUrlapInputHibas, .mrUrlapNagyInputHibas, .kUrlapInputHibas, .mrUrlapInputLOVHibas
{
    background-color: rgb(246, 216, 212);
    color: #990000;
}

.mrUrlapCalendar, .mrUrlapCalendarDis, .mrUrlapCalendar_Erv, .mrUrlapCalendar_ErvDis
{
    width: 79px;
}

.mrUrlapInputNumber
{
    width: 79px;
}

.mrUrlapInputWaterMarked
{
    color: GrayText;
}

.mrUrlapInputLOV, .mrUrlapInputLOVDis, .mrUrlapInputLOVHibas
{
    width: 188px;
}

.mrUrlapInputLOVCB
{
    width: 173px;
}

.mrUrlapNagyInput, .mrUrlapNagyTextBox, .mrUrlapNagyInputHibas, .mrUrlapNagyInputDis, .mrUrlapNagyTextboxDis
{
    width: 562px;
}

.mrUrlapNagyTextBox
{
    height: 70px;
}

.mrUrlapNagyInputLOV
{
    width: 540px;
}

.mrUrlapNagyInputLOVCB
{
    width: 525px;
}


.LOVikon
{
}

.urlapCheckbox
{
    margin-left: -4px;
}

.mrBefoglalo
{
    width: 950px;
}

.mrBefoglaloAdatok
{
    width: 700px;
    vertical-align: top;
}

.mrBefoglaloMuvGombok
{
    width: 250px;
    vertical-align: top;
    text-align: right;
}

hr.urlapSzeparator
{
    color: white;
}

.kUrlapMezo
{
    width: 280px;
}

.kUrlapCaption, .kUrlapCaptionHibas
{
    width: 170px;
}

.kUrlapSpacer
{
    width: 40px;
}

.kUrlapInput, .kUrlapInputKotelezo, .kUrlapInputHibas
{
    width: 270px;
}

.kUrlapInputTolIg
{
    width: 130px;
}

.kUrlapInputLOV
{
    width: 245px;
}

.kUrlapNagyInput
{
    width: 765px;
}

.kUrlapNagyInputLOV
{
    width: 740px;
}

.urlapBelsoSzoveg
{
    font-weight: bold;
}

.fulTartalom
{
}

.fulElemek
{
    position: relative;
    top: 2px;
    text-align: left;
    padding-left: 11px;
}

.aktivFul, .passzivFul
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.aktivFul
{
    width: 117px;
    height: 36px;
    background-image: url( '../../images/hu/egyeb/ful_aktiv.jpg' );
    background-repeat: no-repeat;
}

.passzivFul
{
    width: 115px;
    height: 36px;
    background-image: url( '../../images/hu/egyeb/ful_passziv.jpg' );
    background-repeat: no-repeat;
    color: black;
}

a.fulLink, a:active.fulLink, a:visited.fulLink
{
    color: black;
}


.listaFulFelsoCsik
{
    background-color: rgb(61, 104, 139);
    width: 940px;
    height: 4px;
}

.listaFulFelsoCsikNagy
{
    width: 100%;
    background-color: rgb(61, 104, 139);
    height: 1px;
}

.listaFulFelsoCsikKicsi
{
    width: 95%;
    background-color: rgb(61, 104, 139);
    height: 2px;
}

.listaTablaFejlec
{
    background-image: url( '../../images/hu/egyeb/tlthbg2.jpg' );
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    vertical-align: middle;
}

.listaElem, .listaElemBal, .listaElemJobb
{
    border-bottom: 1px solid #EFEFEF;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 10px;
}

.listaElemkijelolt, .listaElemJobbkijelolt, .listaElemBalkijelolt
{
    border-bottom: 1px solid #EFEFEF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: rgb(221, 231, 239);
}

.listaElem
{
    border-left: 1px solid #EFEFEF;
}

.listaElemBal
{
    border-right: 1px solid #EFEFEF;
}

.listaElemJobb
{
    border-left: 1px solid #EFEFEF;
}

.listaElemkijelolt
{
    border-left: 1px solid #EFEFEF;
}

.listaElemBalkijelolt
{
    border-right: 1px solid #EFEFEF;
}

.listaElemJobbkijelolt
{
    border-left: 1px solid #EFEFEF;
}

.kUrlapFelirat
{
    padding-left: 30px;
    font-size: 14px;
    font-weight: bold;
}


.kekDoboz
{
    width: 157px;
    height: 117px;
    background-image: url( '../../images/hu/egyeb/kekdoboz.jpg' );
    background-repeat: no-repeat;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    padding: 10px 10px 10px 6px;
}

.tlSzamlalo
{
    background-image: url( '../../images/hu/fejlec/kisbigyo2.jpg' );
    width: 40px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    font-weight: bold;
}


.listaKepernyoFejlec
{
    background-image: url( '../../images/hu/fejlec/kepernyo_lista.jpg' );
    background-repeat: no-repeat;
    width: 950px;
    height: 87px;
    padding-left: 88px;
    text-align: center;
}

a.ltfLink, a:active.ltfLink, a:visited.ltfLink
{
    color: black;
}

.ikonSorElem
{
    width: 32px;
}

.mrUrlapInputDis, .mrUrlapInputDisLOV, .mrUrlapCalendarDis, .mrUrlapCalendar_ErvDis, .mrUrlapNagyInputDis, .mrUrlapNagyTextboxDis, .mrUrlapInputLetrehozoDisable, .mrUrlapInputModositoDisable, .mrUrlapInputLetrehozasIdejeDisable, .mrUrlapInputModositasIdejeDisable
{
    /*	 background-color: white; 	 margin: 0px; 	 border-color: #7f9db9; 	 border-width: 1px;	  */ /* 	border-right: InactiveBorder 1px solid; 	border-top: InactiveBorder 1px solid; 	border-left: InactiveBorder 1px solid; 	border-bottom: InactiveBorder 1px solid;*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    -moz-opacity: 0.2;
}

.mrUrlapInputLetrehozoDisable, .mrUrlapInputModositoDisable
{
    width: 150px;
}

.mrUrlapInputLetrehozasIdejeDisable, .mrUrlapInputModositasIdejeDisable
{
    width: 130px;
    padding-right: 20px;
}


.mrUrlapInputLOV, .mrUrlapInputDisLOV
{
    width: 188px;
}

.urlapSzep
{
    height: 0px;
}


/* cp */

.cpBecsukvaNagy
{
    width: 949px;
    height: 31px;
    background-image: url( '../../images/hu/lenyilo/becsukvanagy.jpg' );
    background-repeat: no-repeat;
}

.cpBecsukvaLOV
{
    width: 783px;
    height: 31px;
    background-image: url( '../../images/hu/lenyilo/becsukvalov.jpg' );
    background-repeat: no-repeat;
}

.cpTableNagy
{
    width: 900px;
}


.cpKinyitvaNagyFejlec
{
    width: 949px;
    height: 28px;
    background-image: url( '../../images/hu/lenyilo/kinyitvanagy_1.jpg' );
    background-repeat: no-repeat;
}

.cpKinyitvaLOVFejlec
{
    width: 783px;
    height: 28px;
    background-image: url( '../../images/hu/lenyilo/kinyitvalov_1.jpg' );
    background-repeat: no-repeat;
}

.cpKinyitvaNagyFejlec2
{
    width: 949px;
    height: 13px;
    background-image: url( '../../images/hu/lenyilo/kinyitvanagy_2.jpg' );
    background-repeat: no-repeat;
    margin-top: -5px;
}

.cpKinyitvaLOVFejlec2
{
    width: 783px;
    height: 13px;
    background-image: url( '../../images/hu/lenyilo/kinyitvalov_2.jpg' );
    background-repeat: no-repeat;
    margin-top: -5px;
}

.cpKinyitvaNagy
{
    width: 949px;
}

.cpKinyitvaLOV
{
    width: 783px;
}

.cpKinyitvaNagyLablec
{
    width: 949px;
    height: 5px;
    background-image: url( '../../images/hu/lenyilo/kinyitvanagy_3.jpg' );
    background-repeat: no-repeat;
}

.cpKinyitvaLOVLablec
{
    width: 783px;
    height: 6px;
    background-image: url( '../../images/hu/lenyilo/kinyitvalov_3.jpg' );
    background-repeat: no-repeat;
}

.cpBal
{
    border-left: 1px solid #CCCCCC;
    width: 2px;
}

.cpJobb
{
    border-right: 1px solid #CCCCCC;
    width: 2px;
}

.cpGradiensNagy
{
    background-image: url( '../../images/hu/lenyilo/gradiens.jpg' );
    background-repeat: repeat-x;
    background-color: #EfF2F5;
    width: 945px;
}

.cpGombPoz
{
    margin: 3px 0px 0px 6px;
}

.cpAblakNev
{
    font-weight: bold;
    color: rgb(57, 95, 128);
}

/* menuelemek, tok jo, hogy hatternek kell pakolni :) */

/* */
.ugyiratfunkciogombsor
{
    float: right;
    width: 224px;
    vertical-align: top;
    margin-left: 10px;
}

.kotelezo
{
    color: Red;
}
.kotelezo:before
{
    color: Red;
    content: '* ';
}

.ugyiratugy
{
    float: left;
    vertical-align: top;
}
.ugyiratugy th
{
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
}
.ugyiratugy td
{
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

/* Ezzel javascript és külön képek nélkül lehet effektet rakni a képre */
/* normál megjelenés */
.highlightit
{
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
}
/* kiválasztott elem */
.highlightit:hover
{
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    -moz-opacity: 0.6;
}
/* kikapcsolt elem */
.disableditem
{
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    -moz-opacity: 0.2;
}
/* -- */

.ViewDisabledWebControl
{
    background-color: papayawhip;
    filter: alpha(opacity=100);
    opacity: 1;
    border-right: salmon 1px dotted;
    border-top: salmon 1px dotted;
    border-left: salmon 1px dotted;
    border-bottom: salmon 1px dotted;
}

.ViewReadOnlyWebControl
{
    filter: alpha(opacity=100);
    opacity: 1;
    font-style: italic;
    border-right: mediumslateblue 1px dotted;
    border-top: mediumslateblue 1px dotted;
    border-left: mediumslateblue 1px dotted;
    border-bottom: mediumslateblue 1px dotted;
    background-color: white;
}

.DesignViewLinkButton
{
    color: Black;
}
.DisableWrap
{
    white-space: nowrap;
}


.AccordionHeader
{
    text-align: left;
    background-color: #dedede;
    cursor: pointer;
    font-weight: bold;
    font-size: 11pt;
    color: #335674;
}

.AccordionHeaderSelected
{
    text-align: left;
    background-color: #c0c0c0;
    cursor: pointer;
    font-weight: bold;
    font-size: 11pt;
    color: #335674;
}



/* Keresőlapok formázása */
.SearchPage table
{
    width: 100%;
    overflow: hidden;
    table-layout: auto;
}
.SearchPage tr
{
}
.SearchPage th
{
    font-weight: bold;
    padding-right: 3px;
    vertical-align: middle;
    text-align: right;
    color: #335674;
    margin: 20px 0px 0px;
}
.SearchPage td
{
    text-align: left;
}

/* -= Keretrajzolás =- */
.boxholder 
{
    display: block; 
    background-image: url('../../images/hu/design/box_gradiens.jpg');
    background-repeat: repeat-x;
    background-color: #eee;
    text-align: center;
    border-style: none;
    margin-bottom: 3px;
}
/* Sarkok, alsó-felső */
.boxf1 {height:1px; font-size:1px; overflow:hidden; display:block; background:#aaa; margin:0 5px;}
.boxf2 {height:1px; font-size:1px; overflow:hidden; display:block; background:#fff; border-right:2px solid #aaa; border-left:2px solid #aaa; margin:0 3px;}
.boxf3 {height:1px; font-size:1px; overflow:hidden; display:block; background:#fff; border-right:1px solid #aaa; border-left:1px solid #aaa; margin:0 2px;}
.boxf4 {height:2px; font-size:1px; overflow:hidden; display:block; background:#fff; border-right:1px solid #aaa; border-left:1px solid #aaa; margin:0 1px;}
.boxl1 {height:2px; font-size:1px; overflow:hidden; display:block; background:#eee; border-right:1px solid #aaa; border-left:1px solid #aaa; margin:0 1px;}
.boxl2 {height:1px; font-size:1px; overflow:hidden; display:block; background:#eee; border-right:1px solid #aaa; border-left:1px solid #aaa; margin:0 2px;}
.boxl3 {height:1px; font-size:1px; overflow:hidden; display:block; background:#eee; border-right:2px solid #aaa; border-left:2px solid #aaa; margin:0 3px;}
.boxl4 {height:1px; font-size:1px; overflow:hidden; display:block; background:#aaa; margin:0 5px;}
/* Oldalsó vonalak */
.boxcontent {
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
}
/* Tartalom kicsit beljebb */
.boxcontenttext {
    margin-bottom:0; 
    padding-bottom:0;
    margin-left:5px; 
    margin-right:5px;
}

/* -=* Dátummező éééé.hh.nn. *=- */
.datummezo
{
    width: 6em; 
}

.mrUrlapInputSearch
{
    width:200px;
}

.ajax__tab_xp .ajax__tab_header 
{
    text-align:left;
    font-family:verdana,tahoma,helvetica;font-size:11px;background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-line.gif")%>) repeat-x bottom;
}
