﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BejovoPeldanyListPanel.ascx.cs" Inherits="eRecordComponent_BejovoPeldanyListPanel" %>

<%@ Register Src="~/eRecordComponent/BejovoPeldanyPanel.ascx" TagName="BejovoPeldanyPanel" TagPrefix="uc" %>

<asp:Panel ID="MainPanel" runat="server" />