<%@ Control Language="C#" AutoEventWireup="true" CodeFile="IrattarDropDownList.ascx.cs" 
Inherits="eRecordComponent_IrattarDropDownList" %>

<asp:DropDownList ID="Irattar_DropDownList" runat="server" CssClass="mrUrlapInputComboBox" OnSelectedIndexChanged="Irattar_DropDownList_SelectedIndexChanged">
</asp:DropDownList>
