﻿<%@ Page Language="C#" MasterPageFile="~/EmptyMasterPage.master" AutoEventWireup="true"
    CodeFile="CsoportHierarchiaPrintForm.aspx.cs" Inherits="CsoportHierarchiaPrintForm" Title="Csoporthierarchia" %>
    
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="True"
        EnableScriptLocalization="true" ></asp:ScriptManager>
    <script type="text/javascript">
        document.body.style.backgroundColor = "#FFFFFF";
    </script>
    
    <table align="left">
    <tr>
        <td align="left">
            <img runat="server" id="ButtonNyomtatas" src="images/hu/trapezgomb/nyomtatas_trap.jpg" style="cursor:hand" visible="false"/>
            
            <asp:TreeView ID="CsoportHierarchiTreeView" runat="server" ShowExpandCollapse="false" ShowLines="true" NodeIndent="30" ForeColor="#000000">
                <SelectedNodeStyle Font-Bold="true" />
            </asp:TreeView>
        </td>
    </tr>
    </table>
</asp:Content>