<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="Default.aspx.cs" Inherits="_Default" Title="<%$Resources:Form,DefaultPageTitle%>"%>
    
<%@ Register Src="Component/MenuControl.ascx" TagName="MenuControl" TagPrefix="uc1" %>

<%@ Register src="eRecordComponent/HivatkozasiSzamUserControl.ascx" tagname="HivatkozasiSzamUserControl" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>

    <center>
      <div>
        <asp:Panel ID="Panel1" runat="server">
        </asp:Panel>
        </div>
    </center>
</asp:Content>
