﻿<%@ Page Title="" Language="C#" MasterPageFile="~/PrintFormMasterPage.master" AutoEventWireup="true" CodeFile="DokumentumGeneralas.aspx.cs" Inherits="DokumentumGeneralas" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

