<%@ Page Language="C#" MasterPageFile="~/EmptyMasterPage.master" AutoEventWireup="true" CodeFile="ExcelDetailsForLeaders.aspx.cs" Inherits="ExcelDetailsForLeaders" %>

<%@ Register Src="Component/FormFooter.ascx" TagName="FormFooter" TagPrefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
<%--Hiba megjelenites--%>
    
        <asp:UpdatePanel ID="ErrorUpdatePanel" runat="server" UpdateMode="Conditional">
            <contenttemplate>
                <eUI:eErrorPanel id="EErrorPanel1" runat="server" Visible="false">
                </eUI:eErrorPanel>
            </contenttemplate>
        </asp:UpdatePanel>

<%--/Hiba megjelenites--%>
    <uc2:FormFooter ID="FormFooter1" runat="server" />
</asp:Content>
