﻿<%@ Page Language="C#" MasterPageFile="~/PrintFormMasterPage.master" 
    AutoEventWireup="true" CodeFile="GetDocumentContent.aspx.cs" 
    Inherits="GetDocumentContent" 
     %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

</asp:Content>

