﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="NetlockSignAssistTest.aspx.cs" Inherits="NetlockSignAssistTest" %>

<%@ Register Src="~/eRecordComponent/NetlockSignAssistSigner.ascx" TagName="NetlockSignAssistSigner" TagPrefix="uc" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScritpManager1" runat="server" />
        <uc:NetlockSignAssistSigner Id="NetlockSigner" runat="server" />
       <input type="button" value='test' onclick="NetLockSignAssist_Sign();return false;" class="submit" />
    </form>
</body>
</html>
