﻿<%@ Page Language="C#" MasterPageFile="~/PrintFormMasterPage.master" AutoEventWireup="true"
    CodeFile="PeresEloadoiIvekPrintForm.aspx.cs" Inherits="PeresEloadoiIvekPrintForm" 
    Title="Untitled Page"  %>   

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
<asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="True"
        EnableScriptLocalization="true">
</asp:ScriptManager>
<asp:HiddenField ID="hfSelectedUgyiratok" runat="server" />
</asp:Content>