<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PieChartTest.aspx.cs" Inherits="PieChartTest" %>

<%@ Register TagPrefix="Stickler" TagName="PieChart" Src="eRecordComponent/PieChart.ascx" %>

    
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
 <form id="Form1" runat="server">
    
     <Stickler:PieChart id="ExamplePieChart" runat="server" />
    
 </form> 
</body>
</html>
