<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" 
CodeFile="PldIratPeldanyokList.aspx.cs" Inherits="PldIratPeldanyokList" Title="Untitled Page" %>

<%@ Register Src="Component/ListHeader.ascx" TagName="ListHeader" TagPrefix="uc2" %>
<%@ Register Src="eRecordComponent/IratpeldanyokList.ascx" TagName="IratpeldanyokList" TagPrefix="il" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <uc2:ListHeader ID="ListHeader1" runat="server" />
    <il:IratpeldanyokList ID="IratpeldanyokList" runat="server" />

</asp:Content>

