﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Recycle.aspx.cs" Inherits="Recycle" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Recycle App pool
        </div>
        <div>
            <asp:Button ID="Button1" runat="server" Text="Recycle App pool" OnClick="Button1_Click" />
        </div>
    </form>
</body>
</html>
