<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="removecache.aspx.cs" Inherits="_Default" Title="<%$Resources:Form,DefaultPageTitle%>"%>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>

    <center>
      <div>
        <asp:Panel ID="Panel1" runat="server">
        </asp:Panel>
        </div>
        &nbsp; &nbsp;&nbsp;
    </center>
</asp:Content>