﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="XmlAlairas.aspx.cs" Inherits="XmlAlairas" %>
<%@ Register Src ="~/eRecordComponent/AlairasPanel.ascx" TagName="AlairasPanel" TagPrefix = "uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
<asp:ScriptManager ID="ScriptManager1" runat="server">
</asp:ScriptManager>

<uc1:AlairasPanel ID = "AlairasPanel1" runat="server"/>
</asp:Content>

