<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DataSetDropDownList.ascx.cs" Inherits="Component_DataSetDropDownList" %>
<asp:DropDownList ID="DataSet_DropDownList" runat="server" CssClass="mrUrlapInputComboBox" >
</asp:DropDownList>
