﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FunctionKeysManager.ascx.cs" Inherits="FunctionKeysManager"%>
<asp:Panel runat="server" ID="MainPanel">
    <asp:HiddenField ID="hfObjektumId" runat="server" />
    <asp:HiddenField ID="hfObjektumType" runat="server" />
</asp:Panel>
