﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="IrattariTetelszamDropDownList.ascx.cs" Inherits="Component_IrattariTetelszamDropDownList" %>

<asp:DropDownList ID="IrattariTetelszam_DropDownList" runat="server" CssClass="" Width ="98%" OnSelectedIndexChanged="IrattariTetelszam_DropDownList_SelectedIndexChanged">
</asp:DropDownList>
