﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NyomtatokDropdownList.ascx.cs" Inherits="Component_NyomtatokDropdownList" %>
<asp:DropDownList ID="Nyomtatok_DropDownList" EnableViewState="true" runat="server" AutoPostBack="true"  CssClass="mrUrlapInputComboBox" >
</asp:DropDownList>