<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PrintHtml.ascx.cs" Inherits="Component_PrintHtml" %>


<asp:ImageButton ID="ImagePrintHtml" runat="server" ImageUrl="../images/hu/ikon/printhtml_keret_nelkul.jpg"
    onmouseover="swapByName(this.id,'printhtml.jpg')" onmouseout="swapByName(this.id,'printhtml_keret_nelkul.jpg')"
    AlternateText="<%$Resources:Buttons,Print_HTML%>" ToolTip="<%$Resources:Buttons,Print_HTML%>" />

