<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ReadOnlyTextBox.ascx.cs" 
Inherits="Component_ReadOnlyTextBox" %>

<div class="DisableWrap">
<asp:TextBox ID="TextBox1" runat="server" CssClass="mrUrlapInputWaterMarked" Enabled="true" ReadOnly="true"></asp:TextBox>

</div>
