@charset "utf-8";
/* CSS Document */

/*margin and padding on body element
  can introduce errors in determining
  element position and are not recommended;
  we turn them off as a foundation for YUI
  CSS treatments. */
body {
	margin:0;
	padding:0;
}

#main_cont	{
			margin-left: 15px;
			margin-top: 5px;
}
#java_not_installed, #java_not_enabled, #flash_not_installed	{
	display: none;
}

#NlJAVASignerApplet	{
	float: left;
	
}

h2	{
		clear: both;
}

#FileLocation	{
	width: 400px;
	height: 20px;
}
#SignedFileCont	{
	display: none;
	margin-top: 20px;
	clear: both;
	float: left;
}
	
.ui-widget-content	{
	/*height: 200px;		*/
}
p	{
	margin: 0;
	margin-bottom: 4px;
}		

#signbutton	{			
	/*position: relative;*/
	margin-left: 268px;			
	/*width: 140px;			*/
}
#ProgressDialog, #SuccesDialog, #JAVAErrorDialog, #FlashErrorDialog	{
	display: none;
}

#progressbar	{
	margin-top: 12px;
}

#errorblock	{
	display: none;
}

#JAVAErrorDialog .errorhint, #FlashErrorDialog .errorhint{
	width: 390px;
	height: 50px;
}

.imagealignleft	{
	float: left;
	vertical-align: middle;
	display: block;
}
.alignbottom	{
	clear: both;
	float: left;
	margin-top: 12px;
}
.errorhint, .errorhint	{
	float: left;
	margin-top: 16px;
	margin-left: 12px;
}