﻿<%@ page language="C#" autoeventwireup="true" codefile="LejartMegorzesiIdo.aspx.cs" inherits="LejartMegorzesiIdo" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div>
                LejartMegorzesiIdo:
            </div>
            <asp:button id="Test" runat="server" onclick="Test_Click" text="Teszt" />

        </div>
    </form>
</body>
</html>
